.__improving::after, .__patient__are::after, .__feels_so_good::after {
  content: attr(data-words);
  width: max-content;
  height: .8rem;
  color: transparent;
  background: rgba(115, 87, 238, 0.1);
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
}
/* !rainbow animation */
@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.rainbow {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
}
.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}
.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
  -webkit-animation: opacityChange 3s infinite alternate;
          animation: opacityChange 3s infinite alternate;
}

@-webkit-keyframes opacityChange {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes opacityChange {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
/* !end rainbow animation */

.adventure__of__life__time::after, .__mission::after {
  content: attr(data-words);
  width: max-content;
  height: .8rem;
  color: transparent;
  background: rgba(107, 229, 245, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
}